.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
  gap: 2rem;
}

.main{
  min-height: calc(100vh - 130px);
  padding: 1.5rem 0;
}

.input-field{
 position: relative; 
}

.btn{
  position: absolute;
  right: 0;
  top: 5px;
}

label{
  margin-left: 10px;
}

